<launch>
    <param name="urdf_path" type="string" value="$(find spot_gazebo_description)"/>
    <param name="urdf_name" type="string" value="/urdf/spot_kinova_simul.urdf"/>

    <include file="$(find spot_gazebo)/launch/bringup.launch">
        <arg name="has_imu"          value="false"/>
        <arg name="arm"             value="true"/>
        <arg name="rviz"             value="true"/>
    </include>

    <node name="arm_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="use_tf_static"     value="true"/>
        <param name="publish_frequency" value="1000"/>
        <remap from="joint_states"     to="arm/joint_states" />
    </node>

    <node name="spot_chicken_head" pkg="spot_chicken_head" type="spot_chicken_head_node"/>
    
    <include file="$(find spot_teleop)/launch/teleop.launch">
        <arg name="joy"             value="true"/>
    </include>
</launch>
