<?xml version="1.0"?>
<launch>

  <node pkg="tcp_ros" type="tcp_client_node" name="tcp_client_node" output="screen">
    <param name="ip" value="192.168.10.22"/>
    <param name="port" value="8088"/>
  </node>
  <node pkg="tcp_ros" name="mech_clent" type="test_client2.py" output="screen"> 
  </node>

</launch>

